<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head">
    <title>Autores</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
  </head>
  <body>
    <nav th:replace="/fragments/nav-bar :: nav-bar-dark"> </nav>
    <form class="nnn" th:action="@{/autor/save}" method="POST" th:object="${autor}">
      <h3>Crear Autor</h3>
      <input hidden th:field="*{Id}">
      <label>Nombre</label>
      <input type="text" th:field="*{nombre}"/><br><br>
      <input type="submit" value="Guardar" />
    </form>
  </body>
</html>
