<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head">
    <title>Registro Usuario</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
  </head>
  <body>
    <nav th:replace="/fragments/nav-bar :: nav-bar-dark"> </nav>
    <div th:if="${error}" class="alert alert-danger mt-3" role="alert">
      <span th:text="${error}"></span>
    </div>
    <form class="nnn" th:action="@{/registro}" method="POST">
      <h3>Crear Usuario</h3>
      <label>Nombre de Usuario</label><br>
      <input type="text" name="username"/><br>
      <label>Contraseña</label><br>
      <input type="password" name="password"/><br>
      <label>Confirmar Contraseña</label><br>
      <input type="password" name="password2"/><br><br>
      <input type="submit" value="Guardar" />
    </form>
  </body>
</html>
